@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
    animation: anim-right .2s ease-in-out;
}
@keyframes anim-right {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }

}
